* {
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #faf9f6;
}
#beauty{
    float: left;
    margin-right: 25px;
}
#para{
    float: left;
    font-size: small;
    margin-right: 100px;
    
}
#const{
    float: left;
    margin-right: 20px;
}
#para2{
    float: left;
    font-size: small;
    margin-right: 10px;
    
}
span{
    color: blue;
}
footer{
    margin-bottom: 0%;
    float: right;
    margin-top: 20%;
    font-size: small;
}


